
* {box-sizing: border-box;}

body {
  font-family: 'Rubik', sans-serif;
  background-color: hsl(226, 43%, 10%);
  font-size: 15px;
}

.wrapper {
  margin-top: calc(50vh - (518px / 2));
  display: flex;
  justify-content: center;
  align-items: center;
  height:518px;
}

.info-block {
  width:255px;
  height:518px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  margin-right: 30px;
}

.time-area {
  display: flex;
  flex-wrap: wrap;
  max-width: 860px;
}

.time-block {
  width:255px;
  height: 245px;
  border-radius: 15px;
}

.time-block:not(:nth-child(3n)) {
  margin-right: 30px;
}

.time-block:nth-child(-n+3) {
  margin-bottom: 29px;
}

.info-block__top {
  background-color: hsl(246, 80%, 60%);
  height:355px;
  border-radius: 15px;
}

.info-block__top--photo {
  width: 84px;
  height: 84px;
  margin: 33px 0 0 28px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.info-block__top--text {
  display: block;
  color: hsl(236, 100%, 87%);
  margin: 37px 0 0 32px;
}

.info-block__top--name {
  display: block;
  color: #fff;
  margin: 3px 0 0 32px;
  font-size: 40px;
  font-weight: 300;
}

.info-block__bottom {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}


.info-block__btn {
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 32px;
  text-align: start;
  background: none;
  border: none;
  font-size: 18px;
  color: hsl(235, 45%, 61%);
  cursor: pointer;
}

.info-block__btn:hover {
  color: #fff;
}

.info-block__btn--active {
  color: #fff;
}


/* Rigth block */

.time-block {
  position: relative;
}

.time-block__img {
  position: absolute;
  top: 0;
  right:20px;
  z-index: 1;
}

.work {
  background-color: hsl(15, 100%, 70%);
}

.play {
  background-color: hsl(195, 74%, 62%);
}

.study {
  background-color: hsl(348, 100%, 68%);
}

.exercise {
  background-color: hsl(145, 58%, 55%);
}

.social {
  background-color: hsl(264, 64%, 52%);
}

.self-care {
  background-color: hsl(43, 84%, 65%);
}

.time-block__timezone {
  position: relative;
  height: 200px;
  margin-top: 45px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 13px;
  z-index: 2;
}

.time-block__timezone:hover {
  background-color: hsl(235, 45%, 31%);
}

.timezone__svg {
  position: absolute;
  top: 36px;
  right: 30px;
  cursor: pointer;
}

.timezone__header {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 29px 0 0 30px;
}

.timezone__current-hours {
  display: block;
  color: #fff;
  font-size: 52px;
  font-weight: 300;
  margin: 25px 0 0 32px;
  letter-spacing: 0.98px;
}

.timezone__prev-hours {
  display: block;
  color: hsl(236, 100%, 87%);
  font-size: 15px;
  font-weight: 300;
  margin: 12px 0 0 30px;
  letter-spacing: 0.3px;
}

@media (max-width:1170px) {
  .wrapper {
    align-items: flex-start;  
  }

  .info-block {
    min-width: 255px;
  }

  .time-area {
    
    justify-content: center;
    align-items: flex-start;
  }

  .time-block:nth-child(n+3) {
    margin-right: 29px;
}
}

@media (max-width:870px) {
  .time-block:nth-child(n+3) {
    margin-right: 29px;
  }
}


@media (max-width:580px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width:350px;
    padding: 40px 12px 0 10px;
  }

  .info-block {
    width:350px;
    margin: 0;
    height: 200px;
    margin-right: 0;
  }

  .info-block__top {
    height: 134px;
  }

  .info-block__top--text ,
  .info-block__top--name  {
    display: inline-block;
  }

  .info-block__top--photo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    float: left;
  }

  .info-block__top--name {
    font-size: 24px;
    font-weight: 300;
  }


  .info-block__bottom {
    height: 100px;
    flex-direction: row;
    margin: 0;
    margin-top: -6px;
  }

  .info-block__btn:nth-child(2n) {
    padding-left: 55px;
  }

  .info-block__btn:nth-child(3n) {
    padding-left: 42px;
  }

  .time-area {
    margin-top: 25px;
    width: 100%;
  }

  .time-block:nth-child(n) {
    margin-right: 0;
  }

  .time-block:nth-child(-n+3) {
    margin-bottom: 24px;
  }

  .time-block {
    width:100%;
    margin: 0;
    margin-bottom: 24px;
    height: 160px;
    margin-right: 0;
  }

  .time-block__timezone {
    height: 122px;
    margin-top: 38px;
  }

  .timezone__header {
    margin: 28px 0 0 26px;
  }

  .timezone__current-hours {
    font-size: 32px;
    margin: 5px 0 0 26px;
  }

  .timezone__prev-hours {
    position: absolute;
    top: 54px;
    right: 24px;
  }

}

@media (max-width: 375px) {
  .info-block__top--text {
    position: absolute;
    top: 52px;
    left: 102px;
  }

  .info-block__top--name {
    position: absolute;
    top: 109px;
    left: 102px;
    font-size: 24px;
    font-weight: 300;
  }
}